<div class="nav" id="nav">
    <div class="content">
        <div class="displayPicture"></div>

        <div class="link">
            <a href="/">
                <div class="link-wrapper">HOME</div>
            </a>
        </div>
        
        <div class="link">
            <div class="bg"></div>
            <a href="/about.html">
                <div class="link-wrapper">ABOUT</div>
            </a>
        </div>
        
        <div class="link">
            <a href="/programming-projects.html">
                <div class="link-wrapper">PROGRAMMING</div>
            </a>
        </div>

        <div class="link">
            <a href="/visual-art-projects.html">
                <div class="link-wrapper">VISUAL ART</div>
            </a>
        </div>
    </div>
</div>