<div class="navmob" id="navmob">

    <div class="content" id="navmobcontent">
        <div class="link">
            <a href="/">
                <div class="link-wrapper">HOME</div>
            </a>
        </div>
        
        <div class="link">
            <div class="bg"></div>
            <a href="/about.html">
                <div class="link-wrapper">ABOUT</div>
            </a>
        </div>
        
        <div class="link">
            <a href="/programming-projects.html">
                <div class="link-wrapper">PROGRAMMING</div>
            </a>
        </div>

        <div class="link">
            <a href="/visual-art-projects.html">
                <div class="link-wrapper">VISUAL ART</div>
            </a>
        </div>
    </div>

    <button id="toggle"></button>

    <script>
        /* mobile nav controls */
        $("#toggle").click(function() {
            $(this).toggleClass("down");
            $("#navmobcontent").slideToggle();
        });
    </script>
</div>